@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.5s ease;
}
body{
    overflow-x: hidden;
}
li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 4rem;
}
a{
    text-decoration: none;
    color: #fff;
}
.hader{
    width: 100%;
    background-color: rgba(116, 198, 157, 1);
    padding-left:135px;
    padding-right: 135px;
}
.navbar{
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: relative;
}
.navbar ul{
    position: static;
    display: flex;
    gap: 1rem;
}
.navbar ul li{
    margin-left: 2rem;
}
.navbar ul li a{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.medio-bars{
    width:50px;
    height: 35px;
    position: relative;
    cursor: pointer;
    display: none;
}
.medio-bars span{
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #fff;
    transform: rotate(45deg);
}
.medio-bars span:first-child{
    left: 30px;
}
.medio-bars span:nth-child(2){
    width: 70px;
    top: 20px;
}
.medio-bars span:nth-child(3){
    width: 20px;
    top: 35px;
}
.medio-navbar{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.851);    
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column; 
    align-items: center;
    top: -100%;
    left: 0;
    transition: all 0.5s ease;
}
.medio-navbar-in{
    margin-top: 8rem;
}
.medio-navbar-in ul li{
    margin-top: 3REM;
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar-close{
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    margin-top: 0;
    color: rgba(116, 198, 157, 1);
}
.medio-navbar-in ul li a{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.medio-navbar-in ul li a:hover{
    color: rgba(116, 198, 157, 1);
}
.baner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 9rem;
}
.baner-lable{
    width: 50%;
    height: 100%;
}
.baner-lable-1{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 1rem;
}
.baner-lable-2{
    font-family: Crimson Text;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    width: 70%;
}
.baner-lable-3{
    width: 70%;
    font-family: Crimson Text;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
.baner-button a{
    padding: 12px 50px ;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    color: #222;
    border-radius: 4px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
}
.baner-button:hover a{
    background-color:rgba(116, 198, 157, 1);
    color: rgba(255, 255, 255, 1);    
}
.baner-img{
    width: 50%;
}
.baner-img img{
    width: 100%;
}






@media only screen and (max-width:1025px) {
    .medio-bars{
        display: block;
    }
    .navbar ul{
        display: none;
    }
}
@media only screen and (max-width:450px) {
    .navbar-logo img{
        width: 100px;
    }
    .medio-bars span{
        width: 20px;
    }
    .medio-bars span:first-child{
        left: 20px;
    }
    .medio-bars span:nth-child(2){
        width: 40px;
        top: 10px;
    }
    .medio-bars span:nth-child(3){
        width: 10px;
        top: 20px;
    }
}
@media only screen and (max-width:1438px) {
    .hader{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .mean{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media only screen and (max-width:1372px) {
    .baner-lable-2{
        width: 100%;
    }
    .baner-lable-3{
        width: 100%;
    }
}
@media only screen and (max-width:1122px) {
    .baner{
        flex-direction: column-reverse;
        gap: 3rem;
    }
    .baner-lable{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .baner-img{
        width: 100%;
    }
    .baner-img img{
        width: 100%;
    }
}

/* main */
.mean{
    width: 100%;
    height: fit-content;
    padding-top: 7rem;
    text-align: center;
    padding-left:135px;
    padding-right: 135px;
}
.patern{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.patern-lable{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.patern-lable-1{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(116, 198, 157, 1);
    margin-bottom: 1rem;
}
.patern-lable-2{
    font-family: Crimson Text;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 1);
}
.patern-lable-3{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    color:#222;
}
.patern-in{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:  1.5rem;
    justify-content: space-evenly;
}
.patern-buttun{
    margin-top: 2rem;
}
.patern-buttun a{
    padding: 14px 35px;
    background-color: #222;
    color: #fff;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
}

/* futer */
.futer{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgba(116, 198, 157, 1) ;
    padding-left:135px;
    padding-right: 135px;
    display: flex;
    justify-content: space-between;
}

.futer-2-1{
    font-family: Work Sans;
    font-weight: 400;
    font-size:18px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: right;
    color: #fff;
}

@media only screen and (max-width:804px) {
    .futer{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}
@media only screen and (max-width:430px) {
    .futer-2-1{
        font-size: 16px;
    }
}


@media only screen and (max-width:1438px) {
    .hader{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .mean{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .futer{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media only screen and (max-width:450px) {
    .hader{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .mean{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .futer{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


.service{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.service-1{
    width: 30%;
    padding-top:3rem;
    padding-bottom:2rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 1em #00000030;
    padding-left: 2rem;
    padding-right: 2rem;
}
.service-1-lable{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}
.service-1-lable-1{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
}
.service-1-lable-2{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 35px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0px;
    color: #000;
    margin-bottom: 1rem;
}
.service-1-lable-2 span{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0px;
    color: rgba(33, 37, 41, 0.5);
}
.service-1-lable-3{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(33, 37, 41, 0.5);
}
.service-blog{
    width: 100%;
    height: fit-content;
    justify-content: start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom:3rem;
}
.service-blog-1{
    width: 100%;
    align-items: start;
    display: flex;
    gap: 1rem;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
}
.service-button{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.service-button a{
    padding: 12px 30px ;
    background-color: #222;
    border: 2px solid  #222;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
}
.service-button:hover a{
    background-color:rgba(255, 255, 255, 1);
    color: #222;
}
@media only screen and (max-width:1150px) {
    .service{
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: center;
    }
    .service-1{
        width: 45%;
    }
}
@media only screen and (max-width:827px) {
    .service{
        flex-direction: column;
    }
    .service-1{
        width: 100%;
    }
    .service-blog-1{
        justify-content: center;
    }
}
@media only screen and (max-width:550px) {
    .service-1{
        justify-content: start;
    }
}