@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.5s ease;
}
body{
    overflow-x: hidden;
}
li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 4rem;
}
a{
    text-decoration: none;
    color: #fff;
}
.hader{
    width: 100%;
    background-color: rgba(116, 198, 157, 1);
    padding-left:135px;
    padding-right: 135px;
}
.navbar{
    width: 100%;
    height: 110px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: relative;
    background-color: rgba(116, 198, 157, 1);
}
.navbar ul{
    position: static;
    display: flex;
    gap: 1rem;
}
.navbar ul li{
    margin-left: 2rem;
}
.navbar ul li a{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.medio-bars{
    width:50px;
    height: 35px;
    position: relative;
    cursor: pointer;
    display: none;
}
.medio-bars span{
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #fff;
    transform: rotate(45deg);
}
.medio-bars span:first-child{
    left: 30px;
}
.medio-bars span:nth-child(2){
    width: 70px;
    top: 20px;
}
.medio-bars span:nth-child(3){
    width: 20px;
    top: 35px;
}
.medio-navbar{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.851);    
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column; 
    align-items: center;
    top: -100vh;
    left: 0;
    transition: all 0.5s ease;
}
.medio-navbar-in{
    margin-top: 8rem;
}
.medio-navbar-in ul li{
    margin-top: 3REM;
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar-close{
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    margin-top: 0;
    color: rgba(116, 198, 157, 1);
}
.medio-navbar-in ul li a{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.medio-navbar-in ul li a:hover{
    color: rgba(116, 198, 157, 1);
}
@media only screen and (max-width:1025px) {
    .medio-bars{
        display: block;
    }
    .navbar ul{
        display: none;
    }
}
@media only screen and (max-width:450px) {
    .navbar-logo img{
        width: 100px;
    }
    .medio-bars span{
        width: 20px;
    }
    .medio-bars span:first-child{
        left: 20px;
    }
    .medio-bars span:nth-child(2){
        width: 40px;
        top: 10px;
    }
    .medio-bars span:nth-child(3){
        width: 10px;
        top: 20px;
    }
}
@media only screen and (max-width:1438px) {
    .hader{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.patern{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.patern-lable{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.patern-lable-1{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(116, 198, 157, 1);
    margin-bottom: 1rem;
}
.patern-lable-2{
    font-family: Crimson Text;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 1);
}
.patern-lable-3{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    color:#222;
}
.mean{
    width: 100%;
    height: fit-content;
    padding-top: 7rem;
    text-align: center;
    padding-left:135px;
    padding-right: 135px;
    display: flex;
    gap: 7rem;
    flex-direction: column;
}


.portfolio{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.portfolio-1{
    width: 48%;
    height: fit-content;
    margin-bottom: 4rem;
    position: relative;
    overflow: hidden;
}
.portfolio-1 img{
    width: 100%;
    height: 100%;
}
.portfolio-1::before{
    content: "";
    width: 100%;
    height: 99%;
    background-color: #000000b3;
    top: -100%;
    left: 0;
    position: absolute;
    transition: all 0.5s ease;
}
.portfolio-lable{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    /* top: 45%; */
    top: -100%;
}

.portfolio-1 img{
    width: 100%;
}
.portfolio-1:hover::before{
    top: 0;
}
.portfolio-1:hover .portfolio-lable{
    top: 0%;
}
.patern-buttun{
    margin-bottom: 2rem;
}
.patern-buttun a{
    padding: 14px 35px;
    background-color: #222;
    color: #fff;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
}
.portfolio-1:nth-child(7){
    margin-bottom: 0;
}
.portfolio-1:last-child{
    margin-bottom: 0;
}

.futer{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgba(116, 198, 157, 1) ;
    padding-left:135px;
    padding-right: 135px;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.futer-2-1{
    font-family: Work Sans;
    font-weight: 400;
    font-size:18px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: right;
    color: #fff;
}

@media only screen and (max-width:804px) {
    .futer{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}
@media only screen and (max-width:430px) {
    .futer-2-1{
        font-size: 16px;
    }
}


@media only screen and (max-width:1438px) {
    .hader{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .mean{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .futer{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media only screen and (max-width:1045px) {
    .portfolio{
        flex-direction: column;
    }
    .portfolio-1{
        width: 100%;
    }
    .portfolio-1:last-child{
        margin-top: 4rem;
    }
}
@media only screen and (max-width:450px) {
    .hader{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .mean{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .futer{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media only screen and (max-width:374px) {
    .futer-2-1{
        font-size: 0.7rem;
    }
}